{% extends 'base.html' %}
<!-- {% block title %} Baş sahypa {% endblock %}  -->
{% load static %} {% block content %}
<style>
  
  #file {
    position: absolute;
    left: 200px;
    top: 475px;
    display: none;
  }

  .animated-file {
    display: none;
    position: relative;
    animation-name: slideDown;
    animation-duration: 2s;
  }

  .animated-file1 {
    display: none;
    position: relative;
    animation-name: slideUp;
    animation-duration: 2s;
  }

  

  @keyframes slideDown {
    from {
      top:  850px;
    }
    to {
      top:  475px;
    }
  }

  @keyframes slideUp {
    from {
      top: 100px;
    }
    to {
      top: 475px;
    }
  }
</style>

<div style="background: rgb(42, 91, 145); height: 100px"></div>
<main id="main" style="min-height: 700px">
  <h1 class="text-center mt-4">DDoS attack simulýator</h1>
  <hr>

  <strong></strong>

  <div class="container mt-5">
    <table>
      <tr>
        <td></td>
        <td>
          <p style="margin-left: -50px;"><b>Ulanyjy1</b></p>
          <img src="{% static 'assets/img/simulator/comp.png' %}" style="margin-left: -150px;" alt="" />
          <div class="d-flex mt-3">

          </div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td style="width: 100%">
          <div style="
              width: 1%;
              background: black;
              height: 200px;
              margin-left: 120px;
              margin-bottom: -100px; 
              transform: skew(35deg);
            "></div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <p class="text-center"><b>Hacker</b></p>
          <img src="{% static 'assets/img/simulator/comp.png' %}" alt="" />
          <img id="file" src="{% static 'assets/img/simulator/file.png' %}" alt="" />

          <div class="d-flex mt-3">
            
            <button class="btn btn-success p-2 mx-2" onclick="sendmessage()">
              Ugrat
            </button>
          </div>
        </td>
        <style>
          #file3 {
            position: absolute;
            margin-left: 17%;
            margin-top: -80px;
          }

          #hub {
            position: absolute;
            margin-left: 24%;
            margin-top: -125px;
            font-size: 50px;
            color: red;
            z-index: 2;
          }
        </style>

        <td style="width: 100%">

          <div style="
              width: 100%;
              background: black;
              height: 1px;
              margin-top: 75px;
            "></div>
          <p class="text-center" id="hub"><b>Switch</b></p>
          <img
              id="file3"
              src="{% static 'assets/img/simulator/hub.png' %}"
              alt="" 
              width="300"/>
          <style>
            #file1, #file2{
              position: absolute;
              left: 620px;
              top: 450px;
              display: none;
            }
          </style>

          <img id="file1" src="{% static 'assets/img/simulator/file.png' %}" alt="" width="75" />
          <img id="file2" src="{% static 'assets/img/simulator/file.png' %}" alt="" width="75" />
        </td>
        <td>
          <p class="text-center"><b>Serwer</b></p>
          <img src="{% static 'assets/img/simulator/comp.png' %}" alt="" />
          <div class="d-flex mt-3" style="margin-bottom: 50px;">
           
        </td>
      </tr>

      <tr>
        <td></td>
        <td style="width: 100%">
          <div style="
              width: 1%;
              background: black;
              height: 200px;
              margin-left: 120px;
              transform: skew(-35deg);
            "></div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <p style="margin-left: -50;"><b>Ulanyjy2</b></p>
          <img src="{% static 'assets/img/simulator/comp.png' %}" style="margin-left: -150px;" alt="" />
          <div class="d-flex mt-3">
            
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="container my-5">
    <div class="container mb-3">
      <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#gorag">
        Hüjümi amala aşyrmagyň usullary
      </button>

      <div id="gorag" class="collapse ">
        MAC flooding mediýa giriş gözegçiliginiň (MAC) 
        salgylaryndan peýdalanýar. Her enjamyň MAC salgysy bar, 
        bu enjamy toruň içinde kesgitlemek üçin ulanylýan özboluşly san belgisi. 
        Tordaky enjamlaryň arasynda maglumat iberilende, wyklýuçatel diýilýän ulgamdan geçýär. 
        Wyklýuçatel maglumat paketlerini alýan we torundaky dogry enjama geçirýän görnüşleriň bir görnüşi hökmünde işleýär.
      </div>
    </div>


    <div class="container mb-5 ">
      <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#hujum">
        Hüjümden goranmagyň usullary
      </button>

      <div id="hujum" class="collapse">
        MAC flooding öňüni almak üçin kiberhowpsuzlygyň iki ugruna üns bermeli: öňüni almak we gözegçilik.

Öňüni almak. Bu hüjümleriň ilki bilen ýüze çykmagynyň öňüni almak üçin, tor wyklýuçateliňiz üçin port howpsuzlygyny düzüň. Bu, wyklýuçateliň MAC salgy tablisasyna ýazylan täze MAC salgylaryny alyp bilýän enjamlary çäklendirýär. Şeýle hem, toruňyzy goramak üçin güýçli parollary ulanmagy unutmaň , sebäbi hüjümçi enjam hüjüme başlamazdan ozal tora birikmeli.
Gözegçilik. Hüjüm alamatlary üçin toruňyza yzygiderli gözegçilik etmeli. Performancearamaz öndürijilik we tor trafigindäki ýokarlanmalar ýaly görkezijiler duýduryş alamatlary bolup bilse-de, tor gözegçilik programma üpjünçiligi el bilen çemeleşmek bilen sypdyryp boljak inçe töwekgelçilik görkezijilerini alyp biler. Şeýle hem, toruňyza birikýän enjamlara gözegçilik etmeli we ol ýerde bolmaly däl ýa-da geň hereket edýän zatlary aýyrmaly.
Goşmaça çäre hökmünde tor dolandyryjylary, tor goraglaryny barlamak üçin etiki hakerler diýlip hem atlandyrylýan aralaşmak synaglaryny ulanmagy göz öňünde tutmalydyrlar . Bu hünärmen howpsuzlyk hünärmenleri, gowşak taraplary erbet aktýorlar tapmazdan ozal ýüze çykarmak üçin gowşak taraplary paş edýärler.
      </div>
    </div>
  </div>
  </div>
</main>

<script>


  function sendmessage() {
    var file = document.getElementById("file");
    var file1 = document.getElementById("file1");
    var file2 = document.getElementById("file2");
    file.style.display = "inline";



    var initialLeft = parseInt(file.style.right) || 0;

    var targetLeft = 1000;
    initialLeft = 230;
    var duration = 3000;
    var startTime = null;
    yokary = 0;

    function animate(timestamp) {
      if (!startTime) startTime = timestamp;
      var progress = timestamp - startTime;
      var percentage = Math.min(progress / duration, 1);

      var newPosition = initialLeft + (targetLeft - initialLeft) * percentage;
      if (newPosition >= 100) {
        file2.style.display = "inline-block";
        file1.style.display = "inline-block";
        file1.classList.add("animated-file");
        file2.classList.add("animated-file1");
      }

      newPosition = parseInt(newPosition);

      file.style.left = newPosition + "px";
      file1.style.left = newPosition + "px";
      file2.style.left = newPosition + "px";

      if (percentage < 1) {
        requestAnimationFrame(animate);
      } else {
        file.style.left = newPosition + "px";
        file.style.display = "none";
        file1.style.display = "none";
        file2.style.display = "none";
      }
    }
    requestAnimationFrame(animate);
  }
</script>

<hr />
<!-- End #main -->

{% endblock %}